#landing {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  border-bottom: 1px solid #e9e8e8;

  @include breakpoint-up(large) {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
.landing {
  display: grid;
  gap: 1.5rem;

  @include breakpoint-up(large) {
    grid-template-columns: repeat(2, 1fr);
  }

  &-text {
    h1 {
      font-size: 2.375rem;
      margin-bottom: 0.3125rem;

      @include breakpoint-up(large) {
        font-size: 3.75rem;
      }
    }

    p {
      font-size: 1.25rem;
      line-height: 1.6;
      margin-bottom: 2.125rem;
      font-weight: 300;
      @include breakpoint-up(large) {
        max-width: 80%;
      }
    }

    .cta {
      background-color: #5c6ac4;
      color: white;
      min-width: 180px;
      padding: 0.8rem 2.4rem;
    }
  }
  &-image {
    width: 100%;
    margin-top: 2.25rem;
    position: relative;

    @include breakpoint-up(large) {
      margin-top: 0;
    }

    img {
      width: 100%;
    }

    .shape-animation2 {
      position: absolute;
      top: 10%;
      z-index: -1;
      left: 9%;
      animation: shapeAnimation2 20s alternate infinite linear;

      span {
        border-radius: 20px;
        display: block;
        width: 75px;
        height: 35px;
        border: 7px solid #f0dcdb;
        transform: rotate(45deg);
      }
    }

    .shape-animation3 {
      height: 86px;
      width: 86px;
      z-index: -1;
      border: 7px solid #dbedf0;
      border-radius: 50%;
      position: absolute;
      right: 4%;
      top: 4%;
      animation: shapeAnimation3 10s alternate infinite linear;
    }

    .pattern-animation {
      position: absolute;
      z-index: -1;
      right: 11%;
      top: 38%;
      animation: patternAnimation 8s ease-in-out infinite;
    }
    .pattern-animation1 {
      display: block;
      height: 95px;
      width: 120px;
      background-image: radial-gradient(#d3d0d0 5%, transparent 15%);
      background-size: 12px 12px;
      background-position: 0 0;
    }
  }

  &-clients {
    display: flex;
    align-items: center;
    margin-top: 3.75rem;

    .client {
      padding: 0 0.9375rem;

      img {
        width: 100%;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }
}
